.team-container {
    background: transparent;
  /* background: linear-gradient(135deg, #0c2d5b, #145f7a); */
  
  min-height: 100vh;
  padding: 50px 0;
}

/* Card */
.team-card {
  background: linear-gradient(to right, #ffffff, #f6f6f6);  
  border-radius:20px;
  padding: 30px;

  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}

.team-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.4);
}

/* Image */
.team-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #1b3c65;
  margin-bottom: 15px;
}

/* Social Icons */
.social-icon svg {
  transition: 0.3s ease;
}

.social-icon:hover svg {
  transform: scale(1.2);
  opacity: 0.8;
}
