.login-wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #0d3140, #1b3c65);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}

.login-card {
  backdrop-filter: blur(8px);
  background: rgba(255, 252, 252, 0.9);
}
