.login-wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #f8faff, #e9f3ff);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}

.login-card {
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.9);
}
