/* Navbar.css */

/* Light modern theme */
.custom-navbar {
  /* background-color: #113235; */
  background: linear-gradient(to bottom right, #0d3140, #1b3c65);
  
  border-bottom: 1px solid #172c4a;
  padding: 0.8rem 1.2rem;
  transition: all 0.3s ease;
  z-index: 1000;
}

/* Brand name */
.navbar-brand {
  color: #fdf9f9 !important;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.brand-highlight {
  color: #ff6600;
}

/* Nav links */
.nav-link {
  color: #ffffff !important;
  font-weight: 500;
  margin: 0 8px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.nav-link:hover {
  color: #cf3f1b !important;
  transform: translateY(-2px);
}

/* Buttons */
.login-btn,
.signup-btn,
.logout-btn {
  border-radius: 25px;
  padding: 6px 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

/* Login button */
.login-btn:hover {
  background-color: #ffffff;
  color: #916f6f;
}

/* Signup button */
.signup-btn {
  background-color: #e2d2d2;
  border: none;
  color: #fff;
}
.signup-btn:hover {
  background-color: #ffffff;
}
.login-btn:hover {
  background-color: #564040 ;
}

/* Logout button */
.logout-btn {
  border-radius: 25px;
  padding: 6px 18px;
  font-weight: 500;
  background-color: #ff4b5c;
  border: none;
}
.logout-btn:hover {
  background-color: #ff6b81;
}

/* Responsive Design */
@media (max-width: 992px) {
  .navbar-collapse {
    
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    
  }

  .nav-link {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
  }

  .nav-link:last-child {
    border-bottom: none;
  }

  .login-btn,
  .signup-btn,
  .logout-btn {
    width: 100%;
    margin-top: 8px;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.6rem;
  }
}
/* Hover effect */
.profile-wrapper {
  position: relative;
  display: inline-block;
}

.profile-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  position: relative;
}

/* Rotating border circle
.profile-wrapper::before {
  content: "";
  position: absolute;
   top: -3px;    /* perfect spacing */
     /* perfect spacing */
  /* width: 51px;  /* 45 + 6 */
  /* height: 51px; /* 45 + 6 */
  /* border-radius: 50%; */ 
  /* border: 3px solid transparent;
  border-top-color: #007bff;
  border-right-color: #394553;
  animation: rotateCircle 1.3s linear infinite;
  z-index: 1; */

/* Animation keyframes */
@keyframes rotateCircle {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
